<h1>All links</h1>


    <% @urls.each do |url| %>
        <a href="https://url-shawty.herokuapp.com/<%= url.id %>">url-shawty.herokuapp.com/<%= url.id %></a>
        <div><%= url.original_url %></div>
        <div> <%= link_to 'Destroy', delete_url_path(url.id), method: :delete, data: { confirm: 'Are you sure?' } %> </div>
    <% end %>
